nav.navbar
  .navbar__brand
    a(href="/").title Vi Vu Việt Nam
    

  .navbar__menu
    a(href="/tours") Khám phá tour
    a(href="/") Liên hệ

  .navbar__auth
    if user
      span.navbar__user Xin chào, #{user.fullname}
      if user.role === 'admin'
        a(href="/admin") Admin
      form(action="/logout?_method=DELETE" method="POST" style="display:inline")
        button.btn.btn--outline.btn--sm(type="submit") Đăng xuất
    else
      a(href="/login") Đăng nhập
      a.btn.btn--primary(href="/register") Đăng ký


    